
<form>
    <div id="map" data-tap-disabled="true"></div>
    	<div class= form-wrapper>
			<label>Ride Name: <input class="form-box" type="text" ng-model="name" /></label>
			<br></br>
			<label layout="row">Time: 
				<mdp-time-picker class="form-box" ng-model="time"></mdp-time-picker>
			</label>
			<br></br>
			<label>Willing to Pay: $ <input class = "form-box" type="number" ng-model="pay" /></label>
    	</div>
</form>

<p><a class="btn btn-lg btn-success" ng-click="saveRide(start,end,time,pay,name)">Get A Ride!</a></p>
<div class= "breathing-room">
</div>
