
<form>
    <div id="map" data-tap-disabled="true"></div>
    <div class="form-wrapper">
      <div layout="row" layout-align="center center">
        <label flex="50">Ride Name: </label><input class="form-box" type="text" ng-model="name" />
      </div>
      <div layout="row" layout-align="center center">
        <label flex="50">Time: </label><mdp-time-picker ng-model="time"></mdp-time-picker>
      </div>

        <md-slider-container>
        <div layout="row" layout-align="center center">
          <label flex="50">Pay ($): </label><input min="0" max="60" class = "form-box" type="number"  ng-model="pay" ng-change="payMove()"/>
        </div>
          <md-slider flex min="0" max="60" id = "slider" ng-change="payMove()"  ng-model="pay">
          </md-slider>
        </md-slider-container>

        <md-slider-container>
        <div layout="row" layout-align="center center">
          <label flex="50">Wait Time (min): </label><input min="5" max="65" class = "form-box" type="number" ng-model="wait" ng-change="waitMove()"/>
        </div>
          <md-slider flex min="5" max="65" id = "slider"  ng-change="waitMove()" ng-model="wait">
          </md-slider>
        </md-slider-container>

    	</div>
</form>

<p><a class="pmu-button" ng-click="saveRide(start,end,time,pay,name)">Get A Ride!</a></p>
<div class= "breathing-room">
</div>
