
<form>
    <div id="map" data-tap-disabled="true"></div>
    	<div class= form-wrapper>
			<label>Ride Name: <input class="form-box" type="text" ng-model="name" /></label>
			<br></br>
			<label layout="row">Time:&nbsp<mdp-time-picker class="form-box" ng-model="time"></mdp-time-picker>
			</label>
			<br></br>

    <md-slider-container>
			<label>Pay($): <input min="1" max="180" class = "form-box" type="number"  ng-model="pay" ng-change="payMove()"/></label>
      <md-slider flex min="1" max="180" id = "slider" ng-change="payMove()"  ng-model="pay">
      </md-slider>
    </md-slider-container>

    <md-slider-container>
			<label>Wait Time(min): <input min="1" max="180" class = "form-box" type="number" ng-model="wait" ng-change="waitMove()"/></label>
      <md-slider flex min="1" max="180" id = "slider"  ng-change="waitMove()" ng-model="wait">
      </md-slider>
    </md-slider-container>

    	</div>
</form>

<p><a class="pmu-button" ng-click="saveRide(start,end,time,pay,name)">Get A Ride!</a></p>
<div class= "breathing-room">
</div>
